USE [master]
GO
/****** Object:  Database [WorkFlowDb]    Script Date: 2/11/2018 7:23:00 PM ******/
CREATE DATABASE [WorkFlowDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkFlowDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WorkFlowDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkFlowDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WorkFlowDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkFlowDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkFlowDb]
GO
USE [WorkFlowDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/11/2018 7:23:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 2/11/2018 7:23:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Assignee] [nvarchar](max) NULL,
	[AssignedBy] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[AgreedCompletionDate] [datetime2](7) NOT NULL,
	[ActualCompletionDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Task] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([TaskId], [Description], [Assignee], [AssignedBy], [Status], [AgreedCompletionDate], [ActualCompletionDate], [CreatedDate], [IsDeleted]) VALUES (11, N'Example task number 1', N'exec1@some.com', N'manager@some.com', N'Done', CAST(N'2018-02-11T00:00:00.0000000' AS DateTime2), CAST(N'2018-02-11T00:00:00.0000000' AS DateTime2), CAST(N'2018-02-11T18:12:49.8265559' AS DateTime2), 0)
INSERT [dbo].[Task] ([TaskId], [Description], [Assignee], [AssignedBy], [Status], [AgreedCompletionDate], [ActualCompletionDate], [CreatedDate], [IsDeleted]) VALUES (12, N'Example task number 2', N'exec1@some.com', N'manager@some.com', N'Done', CAST(N'2018-02-11T00:00:00.0000000' AS DateTime2), CAST(N'2018-02-11T00:00:00.0000000' AS DateTime2), CAST(N'2018-02-11T18:13:25.4348544' AS DateTime2), 0)
INSERT [dbo].[Task] ([TaskId], [Description], [Assignee], [AssignedBy], [Status], [AgreedCompletionDate], [ActualCompletionDate], [CreatedDate], [IsDeleted]) VALUES (13, N'Example task number 3', N'exec2@some.com', N'manager@some.com', N'Done', CAST(N'2018-02-11T00:00:00.0000000' AS DateTime2), CAST(N'2018-02-11T00:00:00.0000000' AS DateTime2), CAST(N'2018-02-11T18:34:59.4017811' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Task] OFF
USE [master]
GO
