body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

 /*new css to side bar*/
.icon-nav {
    width: 90px;
    height: auto;
    position: fixed;
    top: 160px;
    right: 0px;
    overflow: hidden;
    z-index: 40;
}
    .icon-nav a {
        display: block;
        float: right;
        margin: 0;
        outline: medium none;
        overflow: hidden;
        padding-top: 25px;
        padding-bottom: 20px;
        position: relative;
        text-align: center;
        transition: width 0.15s ease-in-out 0s;
        z-index: 100;
        cursor: pointer;
        background-color:#333333;
        width: 70px;
        height: 70px;
        color: white;
    }

        .icon-nav a:hover {
            background-color:#333333;
            color: white;
            width: 80px;
        }

        .icon-nav a:first-child {
            border-top-left-radius: 10px;
        }

        .icon-nav a:last-child {
            border-bottom-left-radius: 10px;
}
